<!-- All html files should have the around the same
layout as the rest of the pages to ensure consistency. -->
<ion-header>
  <ion-toolbar>
    <ion-title>Sleep History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  
<ion-header>
<ion-toolbar>
<!-- Searchbar with a placeholder -->
<ion-searchbar animated placeholder="Search Sleep History"></ion-searchbar>
<!-- Currently going to be placed as things that are
     related to months. Although not final, should link
    user to specificly filtered months -->
<ion-item>
  <ion-label color = "medium">Select Months</ion-label>
  <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true">
    <ion-select-option value="bacon">January</ion-select-option>
    <ion-select-option value="olives">February</ion-select-option>
    <ion-select-option value="xcheese">March</ion-select-option>
    <ion-select-option value="peppers">April</ion-select-option>
    <ion-select-option value="mushrooms">May</ion-select-option>
    <ion-select-option value="onions">June</ion-select-option>
    <ion-select-option value="pepperoni">July</ion-select-option>
    <ion-select-option value="pineapple">August</ion-select-option>
    <ion-select-option value="sausage">September</ion-select-option>
    <ion-select-option value="Spinach">October</ion-select-option>
    <ion-select-option value="Spinach">November</ion-select-option>
    <ion-select-option value="Spinach">December</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label color = "medium">Select Days</ion-label>
  <ion-select scrollable = "true" [interfaceOptions]="customAlertOptions" interface="alert" multiple="true">
    <ion-select-option value="bacon">Monday</ion-select-option>
    <ion-select-option value="olives">Tuesday</ion-select-option>
    <ion-select-option value="xcheese">Wednesday</ion-select-option>
    <ion-select-option value="peppers">Thursday</ion-select-option>
    <ion-select-option value="mushrooms">Friday</ion-select-option>
    <ion-select-option value="onions">Saturday</ion-select-option>
    <ion-select-option value="pepperoni">Sunday</ion-select-option>
  </ion-select>
</ion-item>
</ion-toolbar>

<!-- Ending header here because we want to make sure the filters show up
regardless of the sleep Log -->
</ion-header>

<ion-content fullscreen>

</ion-content>




<!-- end of content page -->
</ion-content>