<!-- All html files should have the around the same
layout as the rest of the pages to ensure consistency. -->
<ion-header>
	<ion-toolbar>
		<ion-title text-wrap>Logging</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header color="primary">
			<ion-card-title>
				Log Your Sleep
			</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			
			<ion-item class="ion-no-padding">
				<ion-label >Sleep Time</ion-label>	
				<ion-datetime text-wrap [(ngModel)]="sleepStart" displayFormat="MM/DD/YY - hh:mma" placeholder="Select Date"></ion-datetime>
			</ion-item>
			
			<ion-item class="ion-no-padding" lines="none">
				<ion-label >Wake Time</ion-label>
				<ion-datetime text-wrap [(ngModel)]="sleepEnd" displayFormat="MM/DD/YY - hh:mma" placeholder="Select Date"></ion-datetime>
			</ion-item>
			<ion-button color="primary" (click)="logSleep()" expand="block">Log Sleep</ion-button>
		</ion-card-content>
	</ion-card>



<!-- Adding alertness to start recommending meditation
based on alertness level -->
<ion-card>
	<ion-card-header color="primary">
		<ion-card-title text-wrap>
			Log Alertness
		</ion-card-title>
	</ion-card-header>

	<ion-card-content>
		<ion-item lines="none">
			<ion-label>Alertness</ion-label>
			<ion-select scrollable = "true"  [(ngModel)]= "alertFactor">
				<ion-select-option value="1">1: {{alertScale[1]}}</ion-select-option>
				<ion-select-option value="2">2: {{alertScale[2]}}</ion-select-option>
				<ion-select-option value="3">3: {{alertScale[3]}}</ion-select-option>
				<ion-select-option value="4">4: {{alertScale[4]}}</ion-select-option>
				<ion-select-option value="5">5: {{alertScale[5]}}</ion-select-option>
				<ion-select-option value="6">6: {{alertScale[6]}}</ion-select-option>
				<ion-select-option value="7">7: {{alertScale[7]}}</ion-select-option>
			</ion-select>
			
		    </ion-item>
		    <ion-button (click) = "logAlertness()" expand = "block">Log Alertness</ion-button>
		</ion-card-content>
</ion-card>


</ion-content>