<!-- All html files should have the around the same
layout as the rest of the pages to ensure consistency. -->

<ion-header>
  <ion-toolbar>
    <ion-title>Logging Sleep</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Start of page content -->
<ion-content class = "ion-padding">

  <ion-item>
    <ion-label color = "medium">Going to bed?</ion-label>
    <ion-datetime [(ngModel)] = "sleepStart" (ngModelChange) = "userEnteredSleepStart()" displayFormat="MM/DD/YY - hh:mma" placeholder="Select Date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label color = "medium">Just waking up?</ion-label>
    <ion-datetime [(ngModel)] = "sleepEnd" (ngModelChange) = "userEnteredSleepEnd()" displayFormat="MM/DD/YY - hh:mma" placeholder="Select Date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-button color="tertiary" (click) = "logSleep()">Log Sleep</ion-button>
    </ion-item>


    <!-- End of page content -->
</ion-content>