// adding styling to button
.ripple-parent {
    position: relative;
    overflow: hidden;
  }

.imageLocation
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.meditationText{
  display: block;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}