<!-- All html files should have the around the same
layout as the rest of the pages to ensure consistency. -->
<ion-header>
    <ion-toolbar>
      <ion-title>Meditation</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class = "ion-padding">

    <ion-item>
      <p class = "meditationText">
        <em>It is recommended but not enforced you follow this gif to ensure relaxation
          and minfulness.</em>
      </p>
    </ion-item>
    <ion-item class = "imageLocation">
    <img src = "{{'assets/meditationBreathing.gif'}}">

  </ion-item>

<!-- End of page content -->
</ion-content>