<!-- All html files should have the around the same
layout as the rest of the pages to ensure consistency. -->
<ion-header>
    <ion-toolbar>
      <ion-title>Meditation</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class = "ion-padding">

    <ion-item>
      <p div = "meditationText">
        <em>It is recommended but not enforced you follow this gif to ensure relaxation
          and mindfulness.</em>
      </p>
    </ion-item>
    <ion-item class = "imageLocation">
      <!-- Whenever using images make sure that they come from the
      assets folder -->
    <img src = "{{'assets/meditationBreathing.gif'}}">

  </ion-item>
 
  

  

<!-- End of page content -->
<ion-item>
<ion-header>
  <ion-item>
        <ion-title><em>To do: {{meditationorNapData.length}}</em></ion-title>
  </ion-item>
</ion-header>
</ion-item>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
        <ion-card *ngFor = "let meds of meditationorNapData; let i = index">
          <ion-card-header color = "primary">
          <ion-card-title>
            {{meds.typeString()}}
            <ion-icon name="checkmark" style="float: right" (click)="deleteMeditation(meds.id, meds.cardString())"></ion-icon>
          </ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <ion-item class="ion-no-padding">
              <ion-text>{{meds.dateString()}}</ion-text>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-text>{{meds.meditationString()}}</ion-text>
            </ion-item>
            
          </ion-card-content>
        </ion-card>
      </ion-content>
  
