<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-content>
    <!-- Input with placeholder -->
    <br>
<ion-item>About Me
  <ion-label position = "floating">First Name</ion-label>
  <ion-input [(ngModel)] = "firstName" 
    class = "userFirst" animated></ion-input>

  <ion-label position = "floating">Last Name</ion-label>
  <ion-input [(ngModel)]  = "lastName" 
    class = "userLast" animated></ion-input>

  <ion-label position = "floating">Age</ion-label>
  <ion-input [(ngModel)] = "userAge" 
    type="number" value="18" default = "18" animated></ion-input>


  <ion-button color = "tertiary" (click) = "updateUserInfo()">Update Info</ion-button>

</ion-item>
<br>
<ion-item>My Sleep Goals</ion-item>
<ion-card>
	<ion-card-header color="primary">
		<ion-card-title text-wrap>
			Sleep Goals
		</ion-card-title>
	</ion-card-header>
  <ion-card-content>
    <ion-item class="ion-no-padding">
    <ion-label >Sleep at</ion-label>	
    <ion-datetime text-wrap [(ngModel)]="preferredSleepStart" displayFormat="MM/DD/YY - hh:mma" placeholder="Select Date"></ion-datetime>
  </ion-item>
  
  <ion-item class="ion-no-padding" lines="none">
    <ion-label >Wake up</ion-label>
    <ion-datetime text-wrap [(ngModel)]="preferredWakeUp" displayFormat="MM/DD/YY - hh:mma" placeholder="Select Date"></ion-datetime>
  </ion-item>
  <ion-button color="primary" (click)="updatePreferredSleepGoals()" expand="block">Update Goals</ion-button>
  </ion-card-content>
</ion-card>


<br>
<ion-item>My Schedule
</ion-item>





</ion-content>

</ion-content>
