<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-content>
    <!-- Input with placeholder -->

<ion-label position = "floating">First Name</ion-label>
<ion-input (ionChange) = "firstNameChanged()" [(ngModel)] = "firstName" 
  class = "userFirst" animated></ion-input>

  <ion-label position = "floating">Last Name</ion-label>
<ion-input (ionChange) = "lastNameChanged()" [(ngModel)]  = "lastName" 
  class = "userLast" animated></ion-input>

</ion-content>

</ion-content>
